/* Global styles */
html {
  scroll-behavior: smooth;
}

html[lang='ar'] {
  direction: rtl;
}

* {
  font-family: "Cairo", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

::selection {
  color: white;
  background-color: var(--main-color);
}

body {
  background-color: var(--background-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Variables */
:root {
  /* dimensions */
  --section-padding: 100px;
  --header-height: 75px;
  --dark-btn-radius: 50px;

  /* colors */
  --text-color: #000000;
  --main-color: #0084ff;
  --main-color-light: #2d97ff;
  --second-main-color: #5900ff;
  --second-main-color-light: #a676ff;
  --background-color: #ffffff;
  --second-background-color: #000038;
  --card-background-color: #ffffff;
  --box-shadow-color: #0000002e;

  /* gradients */
  --main-btn-gradient: linear-gradient(45deg, #37019b, #5900ff, #ae83ff);
  --resume-btn-gradient: linear-gradient(45deg, #ff00bf, #ff5900, #ffbf00);
}

:root.dark {
  /* colors */
  --text-color: #ffffff;
  --main-color: #56adff;
  --second-main-color: #925bf9;
  --background-color: #373737;
  --card-background-color: #414141;
  --box-shadow-color: #8b8b8b8a;
}

/* components */
section {
  min-height: 100vh;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  color: var(--text-color);
}

section .title {
  color: var(--main-color);
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card {
  width: 330px;
  max-width: 100%;
  box-shadow: 1px 3px 8px var(--box-shadow-color);
  background-color: var(--card-background-color);
  padding: 20px;
  transition: transform 0.4s;
  border-radius: 10px;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card .icon {
  font-size: 6em;
}

.card h3 {
  color: var(--main-color);
  font-size: 1.2em;
  text-transform: capitalize;
}

/* header */

header {
  background-color: var(--background-color);
  box-shadow: 0 0 5px 0 var(--box-shadow-color);
  width: 100%;
  position: fixed;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  position: relative;
}

@media (max-width: 767px) {
  :root {
    --header-height: 55px;
  }
}

.logo {
  text-decoration: none;
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
  transition: color 0.5s;
}

@media(max-width: 767px) {
  .logo {
    font-size: 1.5em;
  }
}

nav .bars {
  display: none;
  color: var(--text-color);
  font-size: 22px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

nav a {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.15em;
  transition: 0.5s;
}

nav ul li:hover a,
.logo:hover {
  color: var(--second-main-color);
}

@media(max-width: 767px) {

  /* this is to help us implement hover */
  nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav .bars {
    display: block;
  }

  nav ul {
    display: none;
  }

  nav:hover ul {
    display: flex;
    background-color: #000000b8;
    flex-direction: column;
    gap: 0;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
  }

  nav ul li a {
    font-weight: 300;
    padding: 15px;
    color: white;
    border-bottom: 1px transparent solid;
  }

  nav ul li a:hover {
    color: var(--second-main-color-light);
    border-color: var(--second-main-color-light);
  }
}

nav a .nav-link-icon {
  display: none;
}

/* landing */

.landing {
  background-image: radial-gradient(at 100vw 0, #24436f, #060913);
  background-attachment: fixed;
  padding-top: calc(var(--section-padding) + var(--header-height));
}

.landing .container {
  min-height: calc(100vh - 200px - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing h2 {
  color: white;
  font-size: 1.3em;
  font-weight: 500;
}

.landing h2 span {
  display: inline-block;
  color: var(--main-color-light);
  font-size: 3em;
  font-weight: 700;
}

@media(max-width: 767px) {
  .landing {
    font-size: 14px;
    text-align: center;
  }

  h2 {
    margin-bottom: 30px;
    font-size: 0.8em;
  }

  h2 span {
    margin-top: 15px;
    line-height: 1.2;
  }
}

.landing h3 {
  color: white;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 30px;
}

.landing-btns {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.main-btn,
.resume-btn {
  display: inline-block;
  text-decoration: none;

  width: 180px;
  padding: 7px 30px;
  color: white;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;

  background-size: 150%;
  background-position: right;

  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  transition: background-position 0.4s, transform 0.4s;
}

.main-btn {
  background-image: var(--main-btn-gradient);
}

.resume-btn {
  background-image: var(--resume-btn-gradient);
}

.main-btn:hover,
.resume-btn:hover {
  background-position: left;
  transform: scale(1.03);
}

.social-icons {
  display: flex;
  gap: 27px;
}

@media(max-width: 767px) {
  .landing-btns {
    flex-direction: column;
    align-items: center;
  }

  .social-icons {
    justify-content: center;
  }
}

.social-icons a {
  color: white;
  font-size: 1.4em;
}

/* skills */

.skills {
  background-color: var(--second-background-color);
}

.skills .title:not(:first-of-type) {
  margin-top: 40px;
}

/* projects */

.projects .card {
  width: 400px;
  text-align: initial;
  padding: 0;
  border: white solid 1px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.project-image {
  text-align: center;
  overflow: hidden;
  background-color: var(--second-main-color);
  height: 200px;
  padding-top: 20px;
  transition: filter 0.5s, background-color 0.5s;
}

.projects .card:hover .project-image {
  filter: brightness(1.14);
}

.project-image img {
  width: 50%;
}

.project-info {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.project-info strong {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.project-info strong a {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: var(--main-color);
  padding: 5px 15px;
  transition: background-color 0.5s;
  border-radius: 5px;
}

.project-info strong a:hover {
  background-color: var(--second-main-color);
}

.project-info strong a.virtual-btn {
  pointer-events: none;
  filter: grayscale(1);
}

.projects .card .project-title {
  text-transform: capitalize;
}

/* contact */

.contact {
  background-color: var(--second-background-color);
}

.contact .card {
  width: 350px;
}

.contact .card a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.5s;
}

.contact .card a:hover {
  color: var(--second-main-color);
}

/* footer */

footer {
  color: var(--text-color);
  min-height: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 575px) {
  footer {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }

  footer .container {
    flex-direction: column;
    gap: 10px;
  }
}

footer .social-icons a {
  color: var(--text-color);
  font-size: 1em;
}

/* currently commented in html document */
.dark-btn {
  width: var(--dark-btn-radius);
  height: var(--dark-btn-radius);
  border-radius: 50%;
  background-color: var(--second-main-color);
  border: 2px solid white;
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 40px;
  overflow: hidden;
}

.dark-btn::before {
  content: "";
  display: inline-block;
  width: calc(var(--dark-btn-radius) * 3/5);
  height: calc(var(--dark-btn-radius) * 3/5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.dark-btn::after {
  content: "";
  display: inline-block;
  width: calc(var(--dark-btn-radius) * 3/5);
  height: calc(var(--dark-btn-radius) * 3/5);
  border-radius: 50%;
  background-color: var(--second-main-color);
  position: absolute;
  right: 0;
  transform: scale(0);
  transition: transform 0.2s;
}

.dark-btn.dark::after {
  transform: scale(1);
}